a,
i {
  transition: all 0.3s;
  text-decoration: none !important;
}
p {
  text-align: justify;
  line-height: 1.8;
}
:root {
  --mainColor: #ff99d76b;
  --secoundColor: #d58bdd;
  --thirthColor: #ff99d7;
  --fourthColor: #ffd372;
}
body {
  font-size: 0.9rem;
  font-family: iransans;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: iransansbold;
}
/* Header */
.uk-search-input::placeholder,
.uk-search > span {
  color: #d58bdd !important;
}
.uk-search > input {
  background-color: white !important;
}
.uk-search-default .uk-search-input:focus {
  border-color: white !important;
}
.uk-search-default .uk-search-input {
  height: 2.2rem;
}
.mainmenu > li > a:hover {
  color: var(--secoundColor);
}
.headerBtn:hover i {
  color: white;
}
.headerBtn2 {
  background-color: var(--secoundColor);
}
.main-header {
  background-color: #ffffffaf;
  backdrop-filter: blur(15px);
}
.mobileMenu > li {
  border-bottom: 1px solid var(--secoundColor);
}
.mobileMenu > li > a {
  color: black;
  padding: 0.5rem 0;
  display: block;
}
/* Main */
.sliderBg {
  background-image: url("./../img/sliderbg.svg");
  background-position: right;
  background-repeat: no-repeat;
}
.owl-stage-outer,
.owl-stage,
.owl-item {
  height: 100%;
}
.sliderPicture {
  width: 80% !important;
  border: 2px solid var(--thirthColor);
}
.box_inner {
  transition: all 0.5s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.boxBg:hover .box_inner {
  transform: rotate(11.3deg);
}
.box__inner {
  transition: all 0.5s;
}
.boxBg:hover .box__inner {
  transform: rotate(-11.3deg);
}
